Q1 SUM OF 2 NUMBERS

In [ ]:
a=int(input('Enter first number:'))
b=int(input('Enter second number:'))
s=a+b
print(s)

Enter first number:5
Enter second number:5
10

Q2 product of 2 numbers

In [ ]:
a=int(input('Enter first number:'))
b=int(input('Enter second number:'))
s=a*b
print(s)

Enter first number:5
Enter second number:5
25

Q3 quotient and reminder of 2 numbers

In [ ]:
a=int(input('Enter first number:'))
b=int(input('Enter second number:'))
s=a/b
d=a%b
print(s)
print(d)

Enter first number:10
Enter second number:2
5.0
0

Q4 length of a string

In [3]:
s='Doll'

In [4]:
len(s)

4

Q6 convert a string to all uppercase

In [5]:
d='dance'

In [6]:
d.upper()

'DANCE'

Q7 converting a string to all lower case

In [7]:
d.lower()

'dance'

Q5 number of occurence of a character in string

In [ ]:
s='perseverance'

In [ ]:
s.count('e')

4