QUESTION 1

In [ ]:
a=int(input('enter length'))
b=int(input('enter breadth'))
A=a*b
print(A)

enter length2
enter breadth3
6

QUESTION 2

In [ ]:
a=int(input('enter a number:'))
b=int(input('enter a number:'))
S=a+b
D=a-b
P=a*b
Q=a%b
print(S)
print(D)
print(P)
print(Q)

enter a number:42
enter a number:2
44
40
84
0

QUESTION 3

In [ ]:
t=float(input('enter the temperature:'))
print('1.fahrenheit to celcius')
print('2.celcius to fahrenheit')
ch=int(input("enter choice 1 or2"))
if ch==1:
  t1=((5/9)*(t-32))
elif ch==2:
  t1=((9/5)*t)+32
else:
  print("wrong choice of input")
print(t1)

enter the temperature:20
1.fahrenheit to celcius
2.celcius to fahrenheit
enter choice 1 or22
68.0

QUESTION 4

In [ ]:
n=float(input('enter a number'))
if n>0:
  print('positive')
elif n<0:
  print('negitive')
else:
  print('zero')

enter a number42
positive

QUESTION 5

In [ ]:
year=int(input('enter a number:'))
if year%4==0 and year%100!=0 or year%400==0:
  print('year is a leap year')
else :
  print('year is not a leap year')

enter a number:2100
year is not a leap year

QUESTION 6

In [ ]:
n=int(input('enter a number'))
if 90<=n<=100:
  print('A')
elif 80<=n<=89:
    print('B')
elif 70<=n<=79:
  print('C')
elif 60<=n<=69:
  print('D')
elif 0<=n<=59:
  print('F')
else:
  print ('invalid')

enter a number98
A

QUESTION 7

In [ ]:
for n in range(10,0,-1):
  print(n)

10
9
8
7
6
5
4
3
2
1

QUESTION 8

In [ ]:
for n in range (2,21,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

QUESTION 9

In [ ]:
a=int(input('enter a number:'))
for i in range(1,11):
  s=a*i
  print(s)

enter a number:5
5
10
15
20
25
30
35
40
45
50